body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

canvas {
    background-color: #000;
    border: 10px solid #001eff;
    border-radius: 20px;
}
